<div class="row myrow banner">
    <div class="col-sm-4 col-lg-3 overlay">
        <h2>
            #IHFF 2016<br />
            29 juni - 3 juli '16
        </h2>
        <p>
            Dit vijfdaagse festival, durende van woensdag tot en met zondag vindt plaats in het centrum van Haarlem.
            Samen met de restaurant ondernemers, filmzalen en andere locaties biedt dit festival een uniqe ervaringen aan.
        </p>
        <br />
        <br />
        @Html.ActionLink("Lees verder", "", null, new { @class = "btn btn-default" })
        <hr />
    </div>
    <div class="col-sm-8 col-lg-2 col-lg-offset-7 pull-down ">
        <a href="@Url.Action("Index", "Movies")" class="btn btn-primary btn-lg pull-right space-below alt-button">
            View Schedule <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        </a>

    </div>
</div>
<div class="row row-inverse">
    <div class="col-md-6">
        <h2>
            Welkom bij het<br />
            Internationaal Haarlems Film Festival
        </h2>
        <p>
            Het IHFF bestaat al vele jaren en focused zich op films, cultuur, eten en de geweldige stad Haarlem!
        </p>
        <p>
            Dit vijfdaagse festival, durende van woensdag tot en met zondag vindt plaats in het centrum van Haarlem.
            Samen met de restaurant ondernemers, filmzalen en andere locaties maken we er een groot feest van.
        </p>
        <p>
            Het festival is ervoor om mensen kennis te laten maken met culinair, cultuur en films.
            Tevens kan op deze manier Haarlem op de kaart gezet worden!
        </p>
    </div>
    <div class="col-md-5 col-md-offset-1">
        <div class="row justify-height-container">
            <div class="thumbnail col-sm-6 justify-height">
                <img src="~/Resources/Photos/filmoverzicht.png" class="img-responsive" />
                <div class="overlayable">
                    @Html.ActionLink("Bekijk het filmoverzicht", "Index", "Movies", null, new { @class = "btn btn-primary btn-block overlay-overlayable", @style = "bottom: 10px"})
                </div>
                <p>
                    Het IHFF bied meerdere films aan dit jaar, welke spectaculaire titels ga jij bekijken?
                </p>
                <hr class="justify-height"/>
            </div>
            <div class="thumbnail col-sm-6 justify-height">
                <img src="~/Resources/Photos/specialetickets.png" class="img-responsive" />
                <div class="overlayable">
                    @Html.ActionLink("Speciale tickets", "Index", "Specials", null, new { @class = "btn btn-primary btn-block overlay-overlayable", @style = "bottom: 10px" })
                </div>
                <p>
                    Het IHFF biedt nu ook speciale tickets aan die verschillende activiteiten combineren, verdubbel de pret!
                </p>
                <hr class="pull-down"/>
            </div>
        </div>
    </div>
</div>
