
<div class="row justify-height-container">
    <div class="col-sm-3">
        <a href="http://www.haarlemsdagblad.nl/">
            <h3>Nieuws</h3>
        </a>
        <img src="~/Resources/Placeholder.png" class="img-responsive media-object" />
        <h5 class="media-heading">#TITLE</h5>
        <h6>-subtitle-</h6>
        <p class="media-body">
            HAARLEM De populaire ijssalon Garrone in Haarlem gaat zaterdag weer open. Net op tijd voor het Bloemencorso. 
            Dat heeft de zoon van ijsmaakster Beate Garrone laten Beate Garrone (69) werd in februari getroffen door een 
            zware hersenbloeding en ligt... 
            <a href="">Lees verder</a>
        </p>
    </div>
    <div class="col-sm-6 text-right">
        <a href="http://www.haarlemmarketing.co.uk/visit-haarlem">
            <h3>Meer over Haarlem</h3>
        </a>
        <p>
            In Haarlem is van alles te doen, het gehele jaar door. Ontdek de stad die bekend staat om haar hoogwaardige culturele aanbod, 
            de grote diversiteit aan winkels, gezellige restaurants en cafés en de uitstekende ligging nabij Amsterdam, strand en zee. 
            Een stad met een rijke historie, prachtige monumenten en een Bourgondische sfeer. De ideale bestemming voor een dagtrip of 
            een weekendje weg.
        </p>
        <a class="twitter-timeline" href="https://twitter.com/hashtag/IHFF" data-widget-id="728162730910355456">#IHFF Tweets</a>
        <script>
            !function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + "://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }
            (document, "script", "twitter-wjs");
        </script>
    </div>
    <div class="col-xs-0 col-sm-3 justify-height justify-height-container overlayable">
        <img src="~/Resources/Photos/GroteMarkt.jpg" class="justify-height img-responsive overlayable" />
        <div class="overlay-overlayable label-default btn-block text-center"><h2>Haarlem</h2></div>
    </div>
</div>
