@using IHFF.Models
@using IHFF.Helpers
@model IEnumerable<Movie>
<div class="row justify-height-container">
    <div class="col-xs-0 col-sm-3 justify-height justify-height-container overlayable">
        <img src="~/Resources/Photos/Cinema.jpg" class="justify-height img-responsive" />
        <div class="overlay-overlayable label-default btn-block text-center"><h2>Films</h2></div>
    </div>
    <div class="col-xs-12 col-sm-9">
        <a href="@Url.Action("Index", "Movies")">
            <h3>Films</h3>
        </a>
        <div class="row">
            <p class="col-sm-8">
                Het Internationaal Haarlem Film Festival draait om films en gezelligheid.
                Daarom zijn er vele films beschikbaar om gezellig met vrienden of familie naar toe te gaan.
                Er zijn vele locaties beschikbaar allen met hun eigen films en er zal altijd een film tussen zitten voor jou!
            </p>
        </div>
        <h4>
            Aanbevolen films <!-- Might need to change... -->
        </h4>
        <div class="container row-inverse">
            <hr class="dashed" />
            <div class="row recommendation">
                @foreach (Movie item in Model)
                {
                    <div class="col-sm-3 thumbnail recommendation">
                        <a href="@Url.Action("MovieInfo", "Movies", new { id = item.EventId })" class="fancybox">
                            <img src="@String.Format( "data:image/png;base64,{0}", item.GetImage() )" class="img-responsive"/>
                        </a>
                    </div>
                }
            </div>
            <div class="row row-inverse">
                @foreach (Movie item in Model)
                {
                    <div class="col-xs-3">
                        <p class="text-center">@item.GetName().TrimStringIfLongerThan(18)</p>
                    </div>
                }                
            </div>
            <hr class="dashed" />
        </div>
    </div>
</div>
