@using IHFF.Models
@using IHFF.Helpers
@model IEnumerable<Special>
<div class="row justify-height-container">
    <div class="col-xs-0 col-sm-3 justify-height justify-height-container overlayable">
        <img src="~/Resources/Photos/Evenementen.jpg" class="justify-height img-responsive" />
        <div class="overlay-overlayable label-default btn-block text-center">
            <h2>Specials</h2>
        </div>
    </div>
    <div class="col-xs-12 col-sm-9">
        <a href="@Url.Action("Index", "Specials")">
            <h3>Specials/Evenementen</h3>
        </a>
        <div class="row">
            <p class="col-sm-8">
                Naast veel belovende films die het festival aanbiedt hebben wij ook verschillende activiteiten op kaart gezet voor jong tot oud. 
                Onze bezoekers met een ticket hebben toegang tot alle evenementen en activiteiten die het festival aanbiedt en is er ook een 
                parkeerplek gereserveerd voor al onze bezoekers tot 200 parkeerplaatsen (op = op!). eventueel zijn de evenementen en 
                activiteiten ook beschickbaar gesteld voor bezoekers met rolstoel of handicap.
            </p>
        </div>
        <h4>
            Highlights <!-- Might need to change... -->
        </h4>
        <div class="container row-inverse">
            <div class="row recommendation">
                @foreach (Special item in Model)
                {
                    <div class="col-sm-3 thumbnail recommendation">
                        <a href="@Url.Action("Index", "Special")" class="fancybox">
                            <img src="@String.Format( "data:image/png;base64,{0}", "" )" class="img-responsive" />
                        </a>
                    </div>
                }
            </div>
            <div class="row row-inverse">
                @foreach (Special item in Model)
                {
                    <div class="col-xs-3">
                        <p class="text-center">@item.Name.TrimStringIfLongerThan(18)</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

