﻿
@{
    ViewBag.Title = "Dijkers";
}


    <h2>Restaurant Dijkers</h2>
    <div class="row myrow banner">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <hr />
    </div>

    <div class="row row-inverse">
        <br />
    </div>

    <div class="container">
        <h3 class="container">
            Dijkers
        </h3>
        <p class="col-sm-7">
            In het pittoreske hartje van Haarlem,
            te midden van een zichtbaar stukje geschiedenis van de Warmoesstraat,
            is DIJKERS eten & drinken gevestigd in twee monumentale panden, waaronder
            het befaamde “Huis met de knik”.
            <br />
            <br />
            De leestafel, zithoek en gezellige ronde tafels zorgen voor een huiselijke sfeer.
            <br />
            <br />
            Kom gezellig langs voor diner, lunch, koffie of thee, een borrel of zakelijke meeting.
            <br />
            <br />
            Met een kinderstoel, kindergerechten, spelletjes, boekjes, kleurplaten
            en verschoontafel zijn wij uiteraard
            zeer kindvriendelijk
        </p>
        <div class="col-sm-3  ">
            <a href="@Url.Action("Index", "Movies")">
                <img src="~/Resources/Placeholder.png" class="img-responsive" />
            </a>
        </div>
    </div>

    <div class="row row-inverse">
        <br />
    </div>

    <div class="container">
        <h3 class="container">
            OpeningsTijden
        </h3>
        <p class="col-sm-5">
            Maandag        Gesloten <br />
            Dinsdag        11.00 - 22.00 <br />
            Woensdag       11.00 - 22.00 <br />
            Donderdag      11.00 - 22.00 <br />
            Vrijdag        10.00 - 22.00 <br />
            Zaterdag       11.00 - 22.00 <br />
            Zondag         11.00 - 22.00 <br />

    </div>

    <div class="container">
        <h3 class="container">
            Contact
        </h3>
        <p class="col-sm-5">
            Adres Warmoestraat 5-7 <br />
            Postcode 2011 HN Haarlem <br />
            Tel. nr. +31 (0) 23 551 1564 <br />
            E-mail info@restaurantdijkers.nl <br />
            <br />
            Telefonisch bereikbaar op; <br />
            Werkdagen: 9:15 - 17:00 <br />
            Vrijdag: 9:15 - 15:00 <br />
            <br />
            Email's zullen binnen 24 uur behandeld <br />
            worden en zullen binnen 12-36 uur beantwoord <br />
            worden door een van onze medewerkers <br />
    </div>
