@using IHFF.Models
@model IEnumerable<Restaurant>
@{
    ViewBag.Title = "index2";
}

<h2>RestaurantOverzicht</h2>
<div class="container">
    @foreach (Restaurant restaurant in Model)
    {
        <div class="col-sm-4">
            <div class="overlayable">
                <a><img src="~/Resources/Placeholder.png" class="img-responsive" /></a>
                <div class="overlay-overlayable" style="bottom: 20px">STERREN</div>
            </div>


            <h4 class="text-center primary-color">@restaurant.Name</h4>
            <p>RESTAURANTNAME</p>

            @Html.ActionLink("RESTAURANT NAME", "Dijkers", "Restaurant", null, new { @class = "btn btn-primary btn-block" })
            <br />
        </div>
    }
</div>
