@using IHFF.Models
@using IHFF.Helpers
@model IEnumerable<Restaurant>
@{
    ViewBag.Title = "index";
}

<h2>RestaurantOverzicht</h2>
<div class="container">
    @foreach (Restaurant item in Model)
    {
        <div class="col-sm-4">
            <div class="overlayable">
                <a><img src="~/Resources/Placeholder.png" class="img-responsive" /></a>
                <div class="overlay-overlayable" style="bottom: 20px">STERREN</div>
            </div>


            <h4 class="text-center primary-color">@item.Name</h4>
            <p> @item.Info <p/>

            @Html.ActionLink("Reserveer nu", "Dijkers", "Restaurant", null, new { @class = "btn btn-primary btn-block" })
            <br />
        </div>
    }
</div>
