
@{
    ViewBag.Title = "index";
}

<style>
    div.img2 {
        margin-right: 30px;
        margin-bottom: 165px;
        margin-top: 40px;
        border: 1px solid #ccc;
        float: left;
        width: 260px;
        height: 168px;
    }

    div.img:hover {
        border: 1px solid #777;
    }

    div.img img {
        width: 100%;
        height: auto;
    }

    div.desc {
        padding: 5px;
        margin-bottom: 10px;
        text-align: left;
        font-weight: bold;
    }

    div.button {
        padding: 6px;
        text-align: center;
        background-color: #DC393C;
        border: 1px solid #ccc;
        color: white;
        font-weight: bold;
    }

    div.restaurantTitel {
        padding: 5px;
        text-align: center;
        font-size: 165%;
        color: #DC393C;
    }
</style>


<div class="img2">
    <a target="_blank" href="u0_mouseover.png">
        <img src="Content/Images/u0_mouseover.png" width="260" height="168" alt="Logo" style="width:260px;height:168px;">
    </a>
    <div class="restaurantTitel">Stempels brasserie</div>
    <div class="desc">De brasserie is een aangename plek om te verpozen op ieder moment ... lees verder</div>
    <div class="button">Reserveer nu</div>
</div>

<div class="img2">
    <a target="_blank" href="img_forest.jpg">
        <img src="Images/u0_mouseover.png" alt="Logo" style="width:260px;height:168px;">
    </a>
    <div class="restaurantTitel">De Ark</div>
    <div class="desc">De Ark, een gezellige, ouderwetse bruincafé uitstraling en is met z'n dr... lees verder</div>
    <div class="button">Reserveer nu</div>
</div>

<div class="img2">
    <a target="_blank" href="img_lights.jpg">
        <img src="Images/u0_mouseover.png" alt="Logo" style="width:260px;height:168px;">
    </a>
    <div class="restaurantTitel">Dijkers</div>
    <div class="desc">In het pittoreske hartje van Haarlem, te midden van een zichtbaar stukje... lees verder</div>
    <div class="button">Reserveer nu</div>
</div>

<div class="img2">
    <a target="_blank" href="img_mountains.jpg">
        <img src="Images/u0_mouseover.png" alt="Logo" style="width:260px;height:168px;">
    </a>
    <div class="restaurantTitel">De uitkijk</div>
    <div class="desc">Restaurant de Uitkijk is uniek gelegen op het Kopje van Bloemendaal, gr... lees verder </div>
    <div class="button">Reserveer nu</div>
</div>

<div class="img2">
    <a target="_blank" href="img_mountains.jpg">
        <img src="Images/u0_mouseover.png" alt="Logo" style="width:260px;height:168px;">
    </a>
    <div class="restaurantTitel">Ratatouille Food</div>
    <div class="desc">Het succesvolle restaurant van chef kok Jozua Jaring is net als ratatouille een... lees verder </div>
    <div class="button">Reserveer nu</div>
</div>

<div class="img2">
    <a target="_blank" href="img_mountains.jpg">
        <img src="Images/u0_mouseover.png" alt="Logo" style="width:260px;height:168px;">
    </a>
    <div class="restaurantTitel">Restaurant Terra</div>
    <div class="desc">Op ons krijtbord staat het wisselend menu van de chef gemaakt aan de... lees verder</div>
    <div class="button">Reserveer nu</div>
</div>
