@using IHFF.Models
@using IHFF.Helpers
@model Restaurant

@{
    ViewBag.Title = "RestaurantInfo";
}

<h2>@Model.Name</h2>
    
   <img src="~/Resources/Placeholder.png" class="justify-height" />
    
<div class="row row-inverse">
    <br />
</div>

<div class="container">
    <h3 class="container">
        @Model.Name
    </h3>
    
    <p class="col-sm-7">
        @MvcHtmlString.Create(Model.RestaurantInfo.Replace(Environment.NewLine, "<br />"))
    </p>
    <div class="col-sm-3  ">
        <a href="@Url.Action("Index", "Movies")">
            <img src="~/Resources/Placeholder.png" class="pull-left" />
        </a>
 
    </div>
</div>

<div class="row row-inverse">
    <br />
</div>

<div class="container">

    <h3 class="left">
        OpeningsTijden
    </h3>

    <p class="col-sm-5">
        Maandag        Gesloten <br />
        Dinsdag        11.00 - 22.00 <br />
        Woensdag       11.00 - 22.00 <br />
        Donderdag      11.00 - 22.00 <br />
        Vrijdag        10.00 - 22.00 <br />
        Zaterdag       11.00 - 22.00 <br />
        Zondag         11.00 - 22.00 <br />

        <div class="col-sm-5 pull-right overlayable  ">
            <img src="~/Resources/Placeholder.png" class="pull-left" />
            <div class="overlay-overlayable" style="bottom: 20px">
                STERREN
                <select class="c-select pull-right">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>

        <p> *Bij reserveringen wordt een bedrag van 10,- in rekening gebracht als borg voor de gemaakte afspraak. Deze wordt verrekent met het eindbedrag van de gemaakte kosten in </p>
        het restaurant.*

        <h3 class="pull-left">
            Contact...........
        </h3>

    <p class="col-sm-5">
        Adres Warmoestraat 5-7 <br />
        Postcode 2011 HN Haarlem <br />
        Tel. nr. +31 (0) 23 551 1564 <br />
        E-mail info@restaurantdijkers.nl <br />
        <br />
        Telefonisch bereikbaar op; <br />
        Werkdagen: 9:15 - 17:00 <br />
        Vrijdag: 9:15 - 15:00 <br />
        <br />
        Email's zullen binnen 24 uur behandeld <br />
        worden en zullen binnen 12-36 uur beantwoord <br />
        worden door een van onze medewerkers <br />
</div>


<div class="row row-inverse">
    <br />
</div>