@using IHFF.Models
@using IHFF.Helpers
@model IEnumerable<WishlistItem>
@{ 
    /* Ienumerables for each day here */
}
<div class="container">
    <!-- Empty -->
    <div class="panel panel-default borderless">
        <div class="panel-heading">-Dag-</div>
        <table class="table">
            <tr>
                <th></th>
                <th>Film</th>
                <th>Locatie &amp; tijd</th>
                <th>Beschikbaar</th>
                <th>Aantal tickets</th>
                <th>Prijs</th>
                <th></th>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td>
                    <img src="~/Resources/Placeholder.png" />
                    Film titel
                </td>
                <td>Locatie,<br />00:00 - 00:00</td>
                <td></td>
                <td></td>
                <td>€0,00</td>
                <td>
                    <button class="btn btn-primary disabled">Verwijder</button>
                </td>
            </tr>
        </table>
    </div>
</div>
