@using IHFF.Models
@using IHFF.Helpers
@model Wishlist
@{ 
    /* Ienumerables for each day here */
    //REMOVE LATER!!!
    IEnumerable<WishlistItem> MondayItems = Model.WishlistItems.Where(x => x.Item.Date.DayOfWeek == DayOfWeek.Monday);


    IEnumerable<WishlistItem> WednesdayItems = Model.WishlistItems.Where(x => x.Item.Date.DayOfWeek == DayOfWeek.Wednesday);
    IEnumerable<WishlistItem> ThursdayItems = Model.WishlistItems.Where(x => x.Item.Date.DayOfWeek == DayOfWeek.Thursday);
    IEnumerable<WishlistItem> FridayItems = Model.WishlistItems.Where(x => x.Item.Date.DayOfWeek == DayOfWeek.Friday);
    IEnumerable<WishlistItem> SaturdayItems = Model.WishlistItems.Where(x => x.Item.Date.DayOfWeek == DayOfWeek.Saturday);
    IEnumerable<WishlistItem> SundayItems = Model.WishlistItems.Where(x => x.Item.Date.DayOfWeek == DayOfWeek.Sunday);

    Dictionary<string, IEnumerable<WishlistItem>> AllItems = new Dictionary<string, IEnumerable<WishlistItem>>()
    {
        { "Maandag", MondayItems },
        { "Woensdag", WednesdayItems },
        { "Donderdag", ThursdayItems },
        { "Vrijdag", FridayItems },
        { "Zaterdag", SaturdayItems },
        { "Zondag", SundayItems }
    };
}
<div class="container">
    <!-- Empty -->
    <div class="panel panel-default borderless">
        <!-- foreach different day, render html -->
        @foreach (KeyValuePair<string, IEnumerable<WishlistItem>> dayItems in AllItems)
        {
            if (dayItems.Value == null || !dayItems.Value.Any())
            {
                //Skip to next if collection is emtpy...
                continue;
            }
            <div class="panel-heading">@dayItems.Key</div>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Film</th>
                        <th>Locatie &amp; tijd</th>
                        <th>Beschikbaar</th>
                        <th>Aantal tickets</th>
                        <th>Prijs</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.WishlistItems.Any())
                    {
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>
                                <img src="~/Resources/Placeholder.png" />
                                Film titel
                            </td>
                            <td>Locatie,<br />00:00 - 00:00</td>
                            <td></td>
                            <td></td>
                            <td>€0,00</td>
                            <td>
                                <button class="btn btn-primary disabled">Verwijder</button>
                            </td>
                        </tr>
                    }
                    else
                    {
                        foreach (WishlistItem item in dayItems.Value)
                        {
                            Html.RenderPartial("_CartItem", item);
                        }
                    }
                </tbody>
            </table>
        }
    </div>
</div>
