@model IHFF.Models.Wishlist

@{
    ViewBag.Title = "Wishlist";

    /*PSEUDO steps

    - Check to see if wishlist contains items           x
        - Split items into seperate lists by day        x
        - for each day                                  
            - show items in day list                    
    - ELSE
        - show empty -> END                             x
    */
}

<div class="container">
    <ol class="breadcrumb">
        <li><a href="/Home">Home</a></li>
        <li class="active">My wishlist</li>
    </ol>

    <div class="row justify-height-container">
        <div class="col-xs-4 col-md-3">
            <h2>@ViewBag.Title</h2>
            <a href="javascript:history.back()" class="btn btn-primary pull-down-absolute">Terug naar vorige pagina</a>
        </div>
        <div class="col-xs-4 col-md-3 col-md-offset-1">
            <img src="~/Resources/special tickets.png" class="img-responsive" />
        </div>
        <div class="col-xs-4 col-md-4 col-md-offset-1">
            <h3>Share your wishlist</h3>
            <h6>Tell your friends what you're up to!</h6>
            <div class="row sm-icons">
                <div class="col-xs-3">
                    <img src="~/Resources/Placeholder.png" class="img-responsive" />
                </div>
                <div class="col-xs-3">
                    <img src="~/Resources/Placeholder.png" class="img-responsive" />
                </div>
                <div class="col-xs-3">
                    <img src="~/Resources/Placeholder.png" class="img-responsive" />
                </div>
                <div class="col-xs-3">
                    <img src="~/Resources/Placeholder.png" class="img-responsive" />
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<!-- Check if any items are in the wishlist or not -->
@if (Model.WishlistItems != null)
{
    if (!Model.WishlistItems.Any())
    {
        @Html.Partial("_WishlistEmpty", Model)
    }
}
@Html.Partial("_Cart", Model)
@Html.Partial("_Contact", Model)
<br />

