@font-face {
    font-family: Rambla;
    src: url(Fonts/Fonts/Rambla-Regular.otf) format('opentype'),
        url(Fonts/Fonts/Rambla-Regular.ttf) format('truetype');
}
@font-face {
    font-family: Rambla;
    src: url(Fonts/Fonts/Rambla-Bold.otf),
        url(Fonts/Fonts/Rambla-Bold.ttf) format('truetype');
    font-weight: bold;
}

* {
    border-radius: 0px !important;
    font-family: Rambla, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

@media (min-width: 1200px)
{
    .container {
        max-width: 1024px;
    }
}

a {
    color: #da2738;
    text-decoration: underline;
}

a:hover,
a:focus {
    color: #9f1f2c;
}

body {
    background-color: #eeeeee;
    color: #2c2e2d;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* ADDS */

.glyphicon {
    font-size: larger;
}

.default {
    color: #333;
}

.disabled {
    background-color: rgba(128, 128, 128, 0.5) !important;
    border: none;
}

header {
    font-size: 16px;
}

footer{
    color: white;
}

.brand {
    width: 100%;
}

header > .container,
header > .row > .container,     /* remove this line for responsive design if needed */
footer > .container,
footer > .row > .container {    /* same as above (responsive)*/
    padding-left: 0px;
    padding-right: 0px;
}

footer > .container > .row {
    margin-left: 0px;
    margin-right: 0px;
}

.navbar > .row {
    background-color: #da2738;
    margin-left: unset;
    margin-right: unset;
}

.banner {
    background-image: url(../../../Resources/Photos/Haarlem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.panel-default > .panel-heading {
    color: #0B66BA;
    font-size: 20px;
}

/* helper classes for alligning things bottom right in a row*/
.myrow {
    font-size: 0;
}
.myrow > * {
    float: none;
    display: inline-block;
    font-size: initial; /* if using LESS it's quicker to just use @font-size-base */
}

.myrow > div > small {
    font-size: 75%;
}

input {
    max-width: unset;
}

.pull-down {
    vertical-align: bottom;
}

.alt-button {
    border-radius: 8px !important;
}

.space-below {
    margin-bottom: 20px;
}

.row-inverse {
    background-color: #da2738;
    padding-top: 4px;
}

.row-inverse > * {
    color: #fff;
}

.label-default {
    background-color: #333333;
}

.copyright {
    margin-top: 5px;
}

.thumbnail {
    color: #2c2e2d;
    margin-top: 20px;
    margin-bottom: 10px;
}

.recommendation {
    background-color: #9f1f2c;
}

.justify-height-container {
    display: flex;
}

.justify-height {
    align-items: stretch;
    object-fit: cover;
}

.thumbnail.recommendation {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

.recommendation > p {
    color: #fff;
    font-size: 16px;
    overflow: hidden;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.45);
    padding-top: 5px;
    padding-bottom: 5px;
}

.overlay > * {
    color: #fff;
}

.overlayable {
    position: relative;
    padding: unset;
}

.overlay-overlayable {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.media-object {
    margin-bottom: 10px;
}

.btn {
    text-decoration: none;
}

.no-btn-info,
.no-btn-info:hover,
.no-btn-info:active {
    cursor: initial;
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    display: block;
    box-shadow: none;
    padding: 0px;
}

hr.dashed {
    border: 8px;
    border-top: 0px;
    border-color: #fff;
    border-style: dashed;
    margin-top: 5px;
    margin-bottom: 5px;
}

.list-inline {
    justify-content: space-between;
}

li.rating {
    border-radius: 3px !important;
    border: 1px solid #fff;
    background: #fff;
    padding: 2px;
}

li.norating {
    background: rgba(255, 255, 255, 0.3);
}

li.rating > img {
    width: 18px;
    height: 18px;
}

h2{
    color: #0B66BA;
    font-size: 28px;
    font-weight: bold;
}

.row-inverse > h2,
.row-inverse > * > h2,
.overlay > h2,
.label-default > h2 {
    color: #fff;
}

h3, 
h4 {
    font-weight: bold;
}

h4 {
    color: #0B66BA;
}

h5 {
    font-weight: bold;
}

h6 {
    font-weight: bold;
}

.navbar{
    border: none;
    margin-bottom: 0px;
}

.navbar-inverse {
    background-color: #454648;
    border-color: #454648;
}

.navbar-inverse .navbar-nav > li {
    background-color: #da2738;
}

.navbar-inverse .navbar-nav > li > a {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  text-decoration: underline;
}

.navbar-inverse .navbar-nav > li > a.active {
  color: #da2738;
  background-color: #ffffff;
  font-weight: bold;
}

.navbar-collapse{
    padding-left: 0px;
    padding-right: 0px;
}

@media (min-width: 768px){
    .navbar-header {
        float: none;
        padding-top: 10px;
    }

    .navbar-nav {
        width: 100%;
    }

    .navbar-nav > li {
        text-align: center;
        float: left;
        display: inline-block;
        width: 20%;
    }

    .navbar-nav > li > a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}


.btn-default {
    color: #fff;
    background-color: #333333;
    border: none;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #9f1f2c;
  background-color: #ffffff;
  border: none;
  text-decoration: underline;
}

.btn-primary {
    color: #ffffff;
    background-color: #da2738;
    border-color: #da2738;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #9f1f2c;
  border-color: #9f1f2c;
}

.fancybox-skin {
    margin-bottom: 20px!important;
}

.set-center{
    text-align: center;
}

/* Breadcrumbs */
.breadcrumb{
    background-color: transparent;
    margin-top: 15px;
}

.breadcrumb > li > a{
    color: #da2738;
}

.breadcrumb > .active{
    text-decoration: none;
}

/* Filmpage */
.moviePoster{
    vertical-align: middle;
}

.imgWrap:hover .moviePoster {
    opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
}

.imgWrap:hover .imgDescription {
    visibility:visible;
    opacity: 1;
}

.imgWrap {
    position: relative;
    text-align:center;
}

.imgDescription {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left:0;
    right:0;
    color:#000;
    font-size: 24px;
    font-weight: bold;
    visibility: hidden;
    cursor: pointer;
}

.movieRow{
    margin-top: 30px;
}

.movieTitle{
    margin-top: 0;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.movieTitle h3{
    margin-top: 0;
}

a.movieTitle:hover{
    text-decoration: none;
    color: black;
}

.moviePullDown {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.movieBtn {
    width: 150%!important;
    margin-top: -5px;
}

.movieDropDown{
    max-width: 110%;
}

.movies {
    margin-bottom: 20px;
}


.fancybox-inner > div > .row > .moviePoster > img {
    float: right;
}

/* SpecialsPage */
.specialImage {
    width: 90%;
    height: 90%;
    float: right;
}

/* Special && Movie */
.nav-pills > li {
    display: inline-block;
    float: left;
    text-align: center;
    width: 16.4%;
    color: #0b66ba;
}

ul.nav-pills {
    width: 95%;
    margin: 0 auto;
}

.filter{
    width: 100%;
    margin-top: 15px;
}

.filterContainter {
    
    border-bottom: 1px solid #0b66ba;
}

.nav-pills > li > a.active {
    background-color: #0b66ba;
    color: #fff;
}

.nav-pills > li > a {
    color: #0b66ba;
    text-decoration: none;
}

#spinner {
    display: none;
    position: absolute;
    left: 50%;
}

/* Food&Film */
div.food-and-film {
    background-color: #CCC;
}

div.food-and-film > .row {
    margin-left: 0px;
    margin-right: 0px;
}

div.food-and-film > h3 > span {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;

}

/* Wishlist */

.pull-down-absolute {
    position: absolute;
    bottom: 0px;
}

.table > tbody > tr > td {
    vertical-align: inherit;
}

td > img {
    width: 15%;
    height: auto;
}

td > input[type=checkbox] {
    transform: scale(1.25);
    margin: 10px;
}

.borderless {
    border: none;
}

.primary-color {
    color: #da2738;
}

.fancybox-inner > div > .row {
    margin-left: 0px;
    margin-right: 0px;
}

ul.dash {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}
ul.dash > li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}

.payment {
    padding-left: 4px;
    padding-right: 4px;
}

.short-row {
    margin-left: 0px;
    margin-right: 0px;
}

.small-text > * {
    font-size: 12px;
}

.fancybox-absolute {
    position: absolute;
    top: 0px;
    right: 0px;
}


/* FOR PAYMENT SELECTION */
.payment input {
    -webkit-appearance:none;
       -moz-appearance:none;
}

.payment2 input{
    position:absolute;
    z-index:999;
    margin-left: 4px;
}

.payment input:active +.payment-selection{opacity: .9;}
.payment input:checked +.payment-selection{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.payment2 input:active +.payment-selection{opacity: .9;}
.payment2 input:checked +.payment-selection{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.payment-selection{
    cursor: pointer;
    background-size: contain;
    background-repeat:no-repeat;
    display: inline-block;
    width: 100%;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
    text-align: right;
}

.payment-selection:hover{
    -webkit-filter: brightness(1.2) grayscale(.5);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.paypal{
    background-image:url(../../Resources/Icons/paypal.png);
}

/* Mini wishlist */
div.container table.wishlistMini td {
    padding: 0;
    border-bottom:1pt solid #da2738;
}

.miniWishlistTitle {
    padding-left: 10px;
    padding-right: 10px;
}

.sm-icons {
    width: 80%;
    margin-right: 0px;
    margin-left: 0px;
}

.sm-icons > * {
   padding-right: 10px;
   padding-left: 0px;
}

.sm-icons.small {
    width: 50%;
}

.sm-icons.small img{
    max-height: 34px;
}
